
#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: teal;
}

.myform{
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 20px;
  align-items: center;
  text-align: center;
  gap: 20px;
}
.selector {
  text-align: center;
  background-color: darksalmon;
  border-radius: 20px;
}

.inputs input {
  background-color: darksalmon;
  color: aquamarine;
  height: 60px;
  width: 100px;
  margin: 20px;
  font-size: 30px;
  border-radius: 20px;
}

.go {
  width: 60px;
  background-color: pink;
  border-radius: 10px;
  height: 40px;
  width: 60px;
  font-weight: bold;
  font-size: 20px;
}