body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-position: center;

}



#myform {
    display: flex;
    flex-direction: column;
    width: 700px;
    padding: 40px;
}